<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583035444836-d887f50v8hm1bhjv8laqd4u2vh08dmj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583035444836-d887f50v8hm1bhjv8laqd4u2vh08dmj7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583035444836-eidp80bhjm0os176r6r8nk89rusnmgng.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHbpS-WDJVhqgM8yhXzJHUEMet_ToMafs</string>
	<key>GCM_SENDER_ID</key>
	<string>583035444836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ProServices</string>
	<key>PROJECT_ID</key>
	<string>khadamat-f8a26</string>
	<key>STORAGE_BUCKET</key>
	<string>khadamat-f8a26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583035444836:ios:51190774e919b87de80971</string>
</dict>
</plist>