body{
    font:-apple-system-body;
    font-size:medium !important;
    text-align:justify;
}
p{
    padding:10px 10px;
}
iframe, embed{
    width:80% !important;
    height:auto !important;
}
img{
    max-width:95% !important;
    height:auto !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
